// Settings
$bg-wrapper-color: #f7f7f7;
$bg-header: #d4d4d4;
$bg-data-table: #fff;
$bg-expanded-row: #e2e2e2;
$wrapper-height: calc(100vh - 60px);
$border: 1px solid #c4c4c4;

.table_wrapper {
  background-color: $bg-wrapper-color;
  max-height: $wrapper-height;
  min-width: 960px;
  overflow-x: auto;
  overflow-y: overlay;

  .header {
    display: flex;
    justify-content: space-around;
    min-height: 60px;
    border-bottom: $border;
    background-color: $bg-header;
    .col {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      border-right: $border;
      span {
        font-weight: bold;
      }
    }
    .col:last-child {
      border: none;
    }
    &.fixed {
      display: flex;
      position: sticky;
      top: 0;
      z-index: 99;
      justify-content: flex-start !important;
    }
  }
  .body {
    display: flex;
    flex-direction: column;

    .panel {
      padding: 8px;
      border-bottom: $border;
      cursor: pointer;
      display: flex;
      margin-left: 2px;
      .title {
        font-size: 1.1em;
        font-weight: bold;
      }
      .arrow {
        margin-right: 8px;
      }

      .arrow::before {
        content: '';
        display: inline-block;
        width: 0.5em;
        height: 0.5em;
        border-right: 0.1em solid black;
        border-top: 0.1em solid black;
        transform: rotate(45deg);
        margin-right: 0.5em;
        transition: 0.25s;
      }

      .arrow.down::before {
        transform: rotate(135deg);
        transition: transform 0.25s;
      }
      .col {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        border-right: $border;
        padding: 8px;
        span {
          font-weight: normal;
        }
        &.text-left {
          justify-content: flex-start;
        }
        &.text-right {
          justify-content: flex-end;
        }
      }
      .col:last-child {
        border: none;
      }
      &.item {
        padding-left: 20px !important;
      }
      &.data {
        padding: 0;
        display: flex;
        margin-left: 0;
        background-color: $bg-data-table;
        &:nth-child(even) {
          background-color: #eff9f1;
        }
      }
      &.expanded {
        background-color: $bg-expanded-row;
      }
    }
  }
}
